//VARIABLES
$dkBlue:hsl(240, 38%, 20%);
$ltGray:hsl(240, 18%, 77%);

//SETUP 
*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
}

html, body, .App{
    height: 100vh;
    width: 100%;
}

body{
    color:$dkBlue;
    font-family: "Inter", sans-serif;
}

.App{
    background-image: url(/public/images/pattern-curve.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 70%;

    padding: 5vh 5%;
}

section{
    max-width:400px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

//TEXT & REUSABLES
p{
    font-weight: 300;
    line-height: 1.5;
    margin: 1rem 0;
}


//IMAGES CONTAINER
#image-container{
    background-image: url(/public/images/pattern-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;

    height: 55%;
    margin-bottom: 5vh;
    position: relative;
}

.testimonial-img{
    border-radius: 5px;
    height: 80%;
}

.btn-container{
    position:absolute;
    bottom: 5%;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    background: #fff;
    border-radius:25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 0.5rem;
    height: 35px;
    width: 70px;
}

//TESTIMONIALS TEXT CONTAINER
#testimonial-container{
    background-image: url(/public/images/pattern-quotes.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 20%;

    flex-direction: column;
    text-align: center;
    padding:5%;
}

.title{
    color:$ltGray;
}